<template>
  <div class="relative">
    <div
      class="h-screen w-full bg-[url('/couple/rosa7.jpeg')] bg-cover bg-right"
    ></div>

    <div class="absolute bottom-0 w-full">
      <div class="bg-gradient-to-t from-primary to-transparent px-12 py-10">
        <h1 class="mb-6 font-primary text-4xl text-light drop-shadow-2xl">
          {{ invitation.couple.groom.nickName }} &
          {{ invitation.couple.bride.nickName }}
        </h1>
        <p class="font-body tracking-wider text-light drop-shadow-2xl">
          {{ invitation.events[0].date.raw }}
        </p>
      </div>
    </div>
  </div>
</template>

<script setup>
const invitation = useInvitation();
</script>
