<template>
  <section id="couple" class="bg-light">
    <div class="py-10">
      <div class="mb-10 flex w-full flex-col items-center" id="groom">
        <div class="relative mb-5">
          <div
            class="absolute -top-3 -left-3 z-20 h-96 w-60 rounded-t-full rounded-b-md border-2 border-secondary"
          ></div>
          <div
            class="relative z-10 h-96 w-60 rounded-t-full border-secondary bg-[url('/couple/groom3.jpeg')] bg-cover bg-center"
          ></div>
          <div
            class="-z-1 absolute top-3 left-3 h-96 w-60 rounded-t-full bg-primary"
          ></div>
          <h3
            class="text-stroke absolute bottom-0 z-20 mb-2 font-primary text-5xl font-bold text-light"
          >
            {{ invitation.couple.groom.nickName }}
          </h3>
        </div>
        <p class="font-primary text-2xl font-semibold text-primary">
          {{ invitation.couple.groom.fullName }}
        </p>
        <p class="mb-1 px-8 text-center font-body text-secondary">
          Putra pertama dari bapak {{ invitation.couple.groom.father }} dan ibu
          {{ invitation.couple.groom.mother }}
        </p>
      </div>

      <div class="flex w-full flex-col items-center" id="bride">
        <div class="relative mb-5">
          <div
            class="absolute -top-3 -right-3 z-20 h-96 w-60 rounded-t-full border-2 border-secondary"
          ></div>
          <div
            class="relative z-10 h-96 w-60 rounded-t-full border-secondary bg-[url('/couple/bride2.jpeg')] bg-cover bg-center"
          ></div>
          <div
            class="-z-1 absolute top-3 right-3 h-96 w-60 rounded-t-full bg-primary"
          ></div>
          <h3
            class="text-stroke absolute bottom-0 right-0 z-20 mb-2 font-primary text-5xl font-bold text-light"
          >
            {{ invitation.couple.bride.nickName }}
          </h3>
        </div>
        <p class="font-primary text-2xl font-semibold text-primary">
          {{ invitation.couple.bride.fullName }}
        </p>
        <p class="mb-1 px-8 text-center font-body text-secondary">
          Putri kedua dari bapak {{ invitation.couple.bride.father }} dan ibu
          {{ invitation.couple.bride.mother }}
        </p>
      </div>
    </div>
  </section>
</template>

<script setup>
const invitation = useInvitation();
</script>

<style scoped>
.text-stroke {
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #034488;
}
</style>
