<template>
  <section id="event" class="bg-light">
    <div
      class="flex justify-center p-6"
      data-aos="flip-up"
      data-aos-duration="1000"
    >
      <p class="-rotate-6 font-secondary text-4xl text-primary drop-shadow-lg">
        Wedding
      </p>
      <p
        class="-ml-20 mt-6 -rotate-6 font-secondary text-4xl text-secondary underline drop-shadow-lg"
      >
        Ceremony
      </p>
    </div>

    <div class="flex justify-center pt-5">
      <div
        class="flex items-center px-3"
        data-aos="flip-up"
        data-aos-duration="1000"
      >
        <p class="font-body text-6xl text-primary">{{ days }}</p>
        <p
          class="mt-8 -ml-3 -rotate-6 font-secondary text-lg font-bold text-secondary opacity-80"
        >
          Days
        </p>
      </div>
      <div
        class="flex items-center px-3"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <p class="font-body text-6xl text-primary">{{ hours }}</p>
        <p
          class="mt-8 -ml-3 -rotate-6 font-secondary text-lg font-bold text-secondary opacity-80"
        >
          Hours
        </p>
      </div>
    </div>
    <div class="flex justify-center pt-5">
      <div
        class="flex items-center px-3"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="600"
      >
        <p class="font-body text-6xl text-primary">{{ minutes }}</p>
        <p
          class="mt-8 -ml-3 -rotate-6 font-secondary text-lg font-bold text-secondary opacity-80"
        >
          Minutes
        </p>
      </div>
      <div
        class="flex items-center px-3"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="900"
      >
        <p class="font-body text-6xl text-primary">{{ seconds }}</p>
        <p
          class="mt-8 -ml-3 -rotate-6 font-secondary text-lg font-bold text-secondary opacity-80"
        >
          Seconds
        </p>
      </div>
    </div>

    <div class="flex justify-center pt-10 pb-16">
      <a
        :href="invitation.saveTheDate.link"
        target="_blank"
        v-if="isSaveTheDate"
        class="rounded-sm border-2 border-primary bg-primary px-3 py-2 font-primary text-light"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="1200"
      >
        Save the date
      </a>
    </div>

    <div
      class="flex w-full flex-col items-center pb-10"
      v-for="(event, i) in invitation.events"
      :key="i"
    >
      <div data-aos="flip-up" data-aos-duration="1000">
        <h3 class="mb-8 -rotate-6 font-secondary text-4xl text-secondary">
          {{ event.name }}
        </h3>
      </div>

      <div class="mb-3 flex items-center">
        <p
          class="self-start font-secondary text-2xl text-primary"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          {{ event.date.day }},
        </p>
        <h1
          class="font-body text-8xl text-primary"
          data-aos="flip-up"
          data-aos-duration="1000"
        >
          {{ event.date.date }}
        </h1>
        <p
          class="self-end font-secondary text-2xl text-primary"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          {{ event.date.month }}
        </p>
      </div>
      <p
        class="mb-2 font-primary text-lg text-primary"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        {{ event.date.start }} - {{ event.date.end }} {{ event.date.tz }}
      </p>
      <p
        class="mb-1 font-primary text-xl text-secondary"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="600"
      >
        {{ event.venue }}
      </p>
      <p
        class="font-body text-lg text-secondary"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="900"
      >
        {{ event.location }}
      </p>
      <a
        :href="event.mapsURL"
        target="_blank"
        class="mt-5 rounded-sm border-2 border-primary bg-primary px-3 py-2 font-primary text-light"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="1200"
      >
        Lihat Maps
      </a>
    </div>
  </section>
</template>

<script setup>
const invitation = useInvitation();

const days = ref(0);
const hours = ref(0);
const minutes = ref(0);
const seconds = ref(0);
const isSaveTheDate = ref(true);

var countdownDate = new Date(invitation.value.saveTheDate.countdown).getTime();
var countdown = setInterval(() => {
  var now = new Date().getTime();
  var diff = countdownDate - now;

  if (diff < 0) {
    isSaveTheDate.value = false;
    clearInterval(countdown);
  } else {
    days.value = Math.floor(diff / (1000 * 60 * 60 * 24));
    hours.value = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    minutes.value = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    seconds.value = Math.floor((diff % (1000 * 60)) / 1000);
  }
}, 1000);
</script>
