<template>
  <section id="gallery" class="bg-light bg-gradient-to-b from-secondary to-primary">
    <div
      class="flex justify-center p-6"
      data-aos="flip-up"
      data-aos-duration="1000"
    >
      <p class="-rotate-6 font-secondary text-4xl text-light drop-shadow-lg">
        Our
      </p>
      <p
        class="-ml-8 mt-6 -rotate-6 font-secondary text-4xl text-light underline drop-shadow-lg"
      >
        Moments
      </p>
    </div>

    <div class="px-0.5">
      <lightgallery
        class="flex flex-wrap"
        :settings="setting"
        :onInit="onInit"
        :onBeforeSlide="onBeforeSlide"
      >
        <a
          :href="invitation.gallery.img[i - 1]"
          class="w-1/2"
          v-for="i in invitation.gallery.img.length"
          :key="i"
        >
        <div class="p-1">
          <img
            class="rounded-lg border-4 border-light border-opacity-50"
            :alt="`img-${i}`"
            :src="invitation.gallery.thumbnail[i - 1]"
            data-aos="zoom-in-up"
            data-aos-duration="1000"
          />
        </div>
        </a>
      </lightgallery>
    </div>
  </section>
</template>

<script setup>
import "lightgallery/css/lightgallery.css";
import "lightgallery/css/lg-thumbnail.css";
import "lightgallery/css/lg-zoom.css";
import Lightgallery from "lightgallery/vue";
import lgThumbnail from "lightgallery/plugins/thumbnail";

const invitation = useInvitation();
const plugins = [lgThumbnail];
const setting = {
  speed: 500,
  download: false,
  mobileSettings: { showCloseIcon: true },
  plugins: plugins,
};

const onInit = () => {};
const onBeforeSlide = () => {};
</script>
