<template>
  <section id="gift" class="bg-gradient-to-b from-primary to-secondary">
    <div
      class="flex justify-center p-6"
      data-aos="flip-up"
      data-aos-duration="1000"
    >
      <p class="-rotate-6 font-secondary text-4xl text-light drop-shadow-lg">
        Wedding
      </p>
      <p
        class="-ml-6 mt-6 -rotate-6 font-secondary text-4xl text-light underline drop-shadow-lg"
      >
        Gift
      </p>
    </div>

    <div class="p-6 text-light">
      <p class="font-body" data-aos="fade-up" data-aos-duration="1000">
        Your presence and prayer will be the greatest wedding gift we could ever
        ask for. No other gifts are needed nor expected. However, if giving is a
        sign of love, we are happy to receive it and of course it will
        complement our happiness even more.
      </p>
    </div>

    <div
      class="hide-scroll-bar flex overflow-y-scroll px-3 pb-6 text-primary"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div
        class="mx-3 flex h-48 w-5/6 flex-none rounded-md border-2 border-light border-opacity-30 bg-[url('public/misc/hampers.png')] bg-cover bg-center shadow-lg shadow-light/40"
        v-for="(transfer, i) in invitation.gift.transfers"
        :key="i"
      >
        <div
          class="flex h-full w-full flex-col rounded-md bg-secondary bg-opacity-10 px-6 py-5 backdrop-blur-[2px]"
        >
          <div class="flex-1">
            <p
              class="text-right font-primary text-xl font-bold tracking-wider text-primary drop-shadow-md"
            >
              {{ transfer.issuer }}
            </p>
          </div>
          <div>
            <p class="flex items-start font-body tracking-wider text-slate-600">
              {{ transfer.referenceNumber }}
              <ClipboardIcon
                v-if="
                  !copied ||
                  copiedValue !== transfer.referenceNumber.replaceAll(/\s/g, '')
                "
                class="ml-3 h-5 w-5 cursor-pointer"
                @click="copy(transfer.referenceNumber.replaceAll(/\s/g, ''))"
              />
              <CheckCircleIcon
                v-if="
                  copied &&
                  copiedValue === transfer.referenceNumber.replaceAll(/\s/g, '')
                "
                class="ml-3 h-5 w-5 cursor-pointer"
              />
            </p>
            <p class="font-primary font-bold text-primary">
              {{ transfer.recipient }}
            </p>
          </div>
        </div>
      </div>

      <div
        class="mx-3 flex h-48 w-5/6 flex-none rounded-md border-2 border-light border-opacity-30 bg-[url('public/misc/hampers.png')] bg-cover bg-center shadow-lg shadow-light/40"
        v-for="(hamper, i) in invitation.gift.hampers"
        :key="i"
      >
        <div
          class="flex h-full w-full flex-col items-center justify-end rounded-md bg-secondary bg-opacity-10 px-6 py-5 backdrop-blur-[2px]"
        >
          <p class="font-body text-primary">
            {{ hamper.name }} - {{ hamper.phoneNo }}
          </p>
          <p
            class="font-primary font-bold tracking-wider text-primary drop-shadow-lg"
          >
            {{ hamper.location }}
          </p>
          <ClipboardIcon
            v-if="
              !copied ||
              copiedValue !==
                `${hamper.name} - ${hamper.phoneNo}\n${hamper.location}`
            "
            class="ml-3 h-5 w-5 cursor-pointer"
            @click="
              copy(`${hamper.name} - ${hamper.phoneNo}\n${hamper.location}`)
            "
          />
          <CheckCircleIcon
            v-if="
              copied &&
              copiedValue ===
                `${hamper.name} - ${hamper.phoneNo}\n${hamper.location}`
            "
            class="ml-3 h-5 w-5 cursor-pointer"
          />
        </div>
      </div>
    </div>

    <input type="text" class="hidden" id="copy-to-clipboard" />
  </section>
</template>

<script setup>
import { ClipboardIcon, CheckCircleIcon } from "@heroicons/vue/24/outline";

const invitation = useInvitation();

const copied = ref(false);
const copiedValue = ref("");
const copy = (value) => {
  const id = "copy-to-clipboard";

  document.getElementById(id).value = value;
  var copyText = document.getElementById(id);
  copyText.select();
  copyText.setSelectionRange(0, 99999);

  navigator.clipboard.writeText(copyText.value);

  copied.value = true;
  copiedValue.value = value;

  setTimeout(() => {
    copied.value = false;
    copiedValue.value = "";
  }, 3000);
};
</script>
