<template>
  <section
    id="home"
    class="flex h-screen flex-col bg-[url('/couple/rosa2.jpeg')] bg-cover bg-center"
  >
    <div class="flex-1 p-8">
      <div class="relative w-full">
        <p
          class="absolute right-0 text-right font-primary text-9xl text-light drop-shadow-xl"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="600"
        >
          {{ invitation.events[0].date.date }}
        </p>
        <div class="absolute right-0 top-28">
          <p
            class="text-vertical-2 flex items-center justify-center font-primary text-xl text-light drop-shadow-xl"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="600"
          >
            {{ invitation.events[0].date.month }}
            {{ invitation.events[0].date.year }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-center bg-gradient-to-t from-primary to-transparent py-28 text-light"
    >
      <div
        class="flex flex-col items-center"
        v-if="name !== ''"
      >
        <p
          class="mb-1 font-body text-xs"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          Dear,
        </p>
        <h3
          class="mb-3 font-body text-2xl"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          {{ name }}
        </h3>
      </div>
      <p
        class="mb-3 font-body text-light"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        You are invited to our wedding!
      </p>
    </div>
  </section>
</template>

<script setup>
const invitation = useInvitation();
const route = useRoute();

const name = ref(route.query.untuk);
</script>
