<template>
  <div
    class="fixed bottom-7 z-50 w-full"
    :class="{ hidden: !control.nav.show }"
  >
    <div class="flex justify-center">
      <div
        class="flex rounded-full border border-light border-opacity-20 bg-primary bg-opacity-70 p-2 font-body text-xs font-bold tracking-wider text-light backdrop-blur-sm"
      >
        <div
          class="flex cursor-pointer items-center px-2"
          @click="goToSection('home')"
        >
          <HomeIcon class="mr-2 h-4 w-4 text-light" />
          <p>Home</p>
        </div>
        <div
          class="flex cursor-pointer items-center px-2"
          @click="goToSection('couple')"
        >
          <HeartIcon class="mr-2 h-4 w-4 text-light" />
          <p>Couple</p>
        </div>
        <div
          class="flex cursor-pointer items-center px-2"
          @click="goToSection('event')"
        >
          <CalendarDaysIcon class="mr-2 h-4 w-4 text-light" />
          <p>Event</p>
        </div>
        <div
          class="flex cursor-pointer items-center px-2"
          @click="goToSection('wishes')"
        >
          <ChatBubbleLeftRightIcon class="mr-2 h-4 w-4 text-light" />
          <p>Wishes</p>
        </div>

        <div
          class="flex cursor-pointer items-center border-l border-light border-opacity-20 px-2"
          @click="resume"
        >
          <MusicalNoteIcon class="h-4 w-4 text-light" />
          <PauseIcon v-if="play" class="h-4 w-4 text-light" />
          <PlayIcon v-if="!play" class="h-4 w-4 text-light" />
        </div>
      </div>

      <audio controls autoplay loop class="hidden" id="music-player">
        <source src="public/misc/music.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</template>

<script setup>
import {
  HomeIcon,
  HeartIcon,
  CalendarDaysIcon,
  ChatBubbleLeftRightIcon,
  PlayIcon,
  PauseIcon,
  MusicalNoteIcon,
} from "@heroicons/vue/24/outline";

const play = ref(true);
const resume = () => {
  var musicPlayer = document.getElementById("music-player");
  play.value = !play.value;
  play.value ? musicPlayer.play() : musicPlayer.pause();
};

const control = useControl();

const goToSection = (section) => {
  document.getElementById(section).scrollIntoView();
};
</script>
