<template>
  <section id="rsvp" class="bg-secondary" v-if="!hideRsvpForm">
    <div
      class="flex justify-center p-6"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <p class="-rotate-6 font-secondary text-4xl text-accent drop-shadow-lg">
        RSVP
      </p>
    </div>
    <div
      class="flex justify-center p-6"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <p class="font-body text-light" v-if="invitation.rsvp.attending == 2">
        You will attend to our wedding.
      </p>
      <p
        class="font-body text-light"
        v-else-if="invitation.rsvp.attending == 4"
      >
        Maybe you will attend to our wedding.
      </p>
      <p
        class="font-body text-light"
        v-else-if="invitation.rsvp.attending == 3"
      >
        You not attend to our wedding.
      </p>
      <p class="font-body text-light" v-else>
        Please, fill the confirmation of attendance.
      </p>
    </div>
    <div class="p-6">
      <div
        class="mb-3"
        data-aos="fade-up"
        data-aos-duration="1000"
        v-if="!hideFieldName"
      >
        <label for="name">
          <p class="font-body text-sm text-light">Name</p>
          <input
            v-model="name"
            type="text"
            id="name"
            autocomplete="off"
            class="w-full rounded-sm border-2 border-primary border-opacity-50 bg-light px-3 py-2 font-body text-primary outline-none focus:border-opacity-80"
          />
        </label>
      </div>
      <div class="mb-3" data-aos="fade-up" data-aos-duration="1000">
        <label for="attending">
          <p class="font-body text-sm text-light">Attending</p>
          <select
            v-model="attending"
            id="attending"
            class="w-full rounded-sm border-2 border-primary border-opacity-50 bg-light px-3 py-2 font-body text-primary outline-none focus:border-opacity-80"
          >
            <option value="2">Yes</option>
            <option value="4">Maybe</option>
            <option value="3">No</option>
          </select>
        </label>
      </div>
      <div class="mb-3" data-aos="fade-up" data-aos-duration="1000">
        <label for="number-of-person">
          <p class="font-body text-sm text-light">Number of person</p>
          <select
            v-model="numberOfPerson"
            id="number-of-person"
            class="w-full rounded-sm border-2 border-primary border-opacity-50 bg-light px-3 py-2 font-body text-primary outline-none focus:border-opacity-80"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>
      </div>
      <p class="mb-3 font-body text-sm text-light" v-if="successSubmitRsvp">
        Success to submitting your rsvp
      </p>
      <p class="mb-3 font-body text-sm text-light" v-if="failedSubmitRsvp">
        Failed to submitting your rsvp
      </p>
      <div class="w-full" data-aos="fade-up" data-aos-duration="1000">
        <button
          :href="invitation.saveTheDate.link"
          class="w-full rounded-sm border-2 border-accent bg-primary px-3 py-2 font-primary text-light"
          :disabled="disableSubmitRsvp"
          @click="submitRsvp"
        >
          {{ invitation.rsvp.attending != "" ? "Change" : "Confirm" }}
        </button>
      </div>
    </div>
  </section>
</template>

<script setup>
import { useReCaptcha } from "vue-recaptcha-v3";

const route = useRoute();
const invitation = useInvitation();
const { executeRecaptcha, recaptchaLoaded } = useReCaptcha();
const keyID = "book_id";

const hideRsvpForm = ref(false);
const hideFieldName = ref(false);
const rsvpID = ref("");

const name = ref("");
const attending = ref("2");
const numberOfPerson = ref("1");

if (route.query.book_id) {
  rsvpID.value = route.query.book_id;
} else {
  if (invitation.value.rsvp.restricted) hideRsvpForm.value = true;
  rsvpID.value = localStorage.getItem(keyID);
}

const getRsvp = async () => {
  const res = await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.rsvp}?id=${rsvpID.value}&invitation=${invitation.value.api.invitationID}`
  );
  if (res.error.value) {
    return;
  }

  const { success, data } = res.data.value;
  if (success) {
    name.value = data[0].name;
    attending.value = data[0].attendance_status.toString();
    numberOfPerson.value = data[0].number_of_people.toString();

    invitation.value.rsvp.id = rsvpID.value;
    invitation.value.rsvp.name = name.value;
    invitation.value.rsvp.attending = attending.value;
    invitation.value.rsvp.numberOfPerson = numberOfPerson.value;

    if (name.value !== "") {
      hideFieldName.value = true;
    }

    localStorage.setItem(keyID, data[0].id);
  }
};

const disableSubmitRsvp = ref(false);
const successSubmitRsvp = ref(false);
const failedSubmitRsvp = ref(false);
const submitRsvp = async () => {
  await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.csrf}`
  );
  invitation.value.rsvp.name === "" ? await postRsvp() : await putRsvp();
};

const recaptchaToken = async () => {
  await recaptchaLoaded();
  const token = await executeRecaptcha("rsvp");
  return token;
};

const postRsvp = async () => {
  disableSubmitRsvp.value = true;

  invitation.value.rsvp.name = name.value;

  const body = {
    invitation: invitation.value.api.invitationID,
    name: invitation.value.rsvp.name,
    attendance_status: parseInt(attending.value),
    number_of_people: parseInt(numberOfPerson.value),
    "g-recaptcha-response": await recaptchaToken(),
  };
  const res = await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.rsvp}`,
    {
      method: "POST",
      body: body,
    }
  );
  disableSubmitRsvp.value = false;

  if (res.error.value) {
    failedSubmitRsvp.value = true;
    setTimeout(() => {
      failedSubmitRsvp.value = false;
    }, 3000);
    return;
  }

  localStorage.setItem(keyID, res.data.value.data.id);
  invitation.value.rsvp.attending = attending.value;

  successSubmitRsvp.value = true;
  setTimeout(() => {
    successSubmitRsvp.value = false;
  }, 3000);
};

const putRsvp = async () => {
  disableSubmitRsvp.value = true;

  const body = {
    id: invitation.value.rsvp.id,
    invitation: invitation.value.api.invitationID,
    name: invitation.value.rsvp.name,
    attendance_status: parseInt(attending.value),
    number_of_people: parseInt(numberOfPerson.value),
    "g-recaptcha-response": await recaptchaToken(),
  };
  const res = await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.rsvp}`,
    {
      method: "PUT",
      body: body,
    }
  );
  disableSubmitRsvp.value = false;

  if (res.error.value) {
    failedSubmitRsvp.value = true;
    setTimeout(() => {
      failedSubmitRsvp.value = false;
    }, 3000);
    return;
  }

  invitation.value.rsvp.attending = attending.value;

  successSubmitRsvp.value = true;
  setTimeout(() => {
    successSubmitRsvp.value = false;
  }, 3000);
};

getRsvp();
</script>
