<template>
  <section
    id="story"
    class="bg-gradient-to-b from-light to-secondary"
  >
    <div
      class="flex justify-center p-6"
      data-aos="flip-up"
      data-aos-duration="1000"
    >
      <p class="-rotate-6 font-secondary text-4xl text-primary drop-shadow-lg">
        Our
      </p>
      <p
        class="-ml-8 mt-6 -rotate-6 font-secondary text-4xl text-secondary underline drop-shadow-lg"
      >
        Story
      </p>
    </div>

    <div
      class="hide-scroll-bar flex overflow-y-scroll px-3 pt-3 pb-6"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div
        class="relative mx-3 flex h-[32rem] w-5/6 flex-none flex-col justify-end rounded-md border-[0.25px] border-light bg-cover shadow-lg"
        :class="bgStory[i]"
        v-for="(story, i) in invitation.stories"
        :key="i"
      >
        <div
          class="absolute bottom-0 w-full rounded-b-md border-t border-light border-opacity-20 bg-primary bg-opacity-40 px-5 py-4 backdrop-blur-xl"
        >
          <p class="font-primary text-2xl text-light">
            {{ story.name }}
          </p>
          <p class="mb-2 font-body text-sm text-light">
            {{ story.date }}
          </p>
          <p class="font-body text-light">
            {{ story.story }}
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
const invitation = useInvitation();
const bgStory = ref([
  "bg-[url('public/couple/rosa6.jpeg')] bg-cover bg-center",
  "bg-[url('public/couple/rosa7.jpeg')] bg-cover bg-center",
  "bg-[url('public/couple/rosa8.jpeg')] bg-center",
]);
</script>
