<template>
  <section
    id="thanks"
    class="relative h-screen bg-[url('/couple/rosa10.jpeg')] bg-cover bg-center"
  >
    <div
      class="absolute bottom-0 flex w-full flex-col items-center justify-center bg-gradient-to-t from-primary to-transparent py-28 text-light"
    >
      <p
        class="mb-3 font-primary text-xs"
        data-aos="zoom-in"
        data-aos-duration="2000"
      >
        With Love
      </p>
      <h1
        class="font-primary text-4xl drop-shadow-2xl"
        data-aos="zoom-in"
        data-aos-duration="3000"
      >
        {{ invitation.couple.groom.nickName }} &
        {{ invitation.couple.bride.nickName }}
      </h1>

      <p
        class="mt-6 flex cursor-pointer font-primary text-xs"
        data-aos="zoom-in"
        data-aos-duration="3000"
      >
        <a :href="invitation.copyright.url"
          >{{ invitation.copyright.name }} - {{ new Date().getFullYear() }}</a
        >
      </p>
    </div>
  </section>
</template>

<script setup>
const invitation = useInvitation();
</script>
