<template>
  <section
    id="verse"
    class="bg-[url('/couple/rosa9.jpeg')] bg-cover bg-center bg-no-repeat p-4"
  >
    <div
      class="rounded-md border border-accent border-opacity-40 bg-light bg-opacity-20 px-5 py-4 text-center text-primary backdrop-blur-md"
      data-aos="flip-up"
      data-aos-duration="1000"
    >
      <p class="mb-4 font-body text-sm">
        {{ invitation.verse.verse }}
      </p>
      <p class="font-primary text-2xl">{{ invitation.verse.chapter }}</p>
    </div>
  </section>
</template>

<script setup>
const invitation = useInvitation();
</script>
