<template>
  <section
    v-if="!control.body.open"
    id="welcome"
    class="flex h-screen flex-col items-end justify-end bg-[url('/couple/rosa1.jpeg')] bg-cover bg-center"
  >
    <div
      class="flex w-full flex-col items-end bg-opacity-20 bg-gradient-to-b from-transparent via-primary/50 to-transparent p-10 lg:p-16"
    >
      <p
        class="font-primary text-sm tracking-wider text-light"
        data-aos="flip-up"
        data-aos-duration="1000"
      >
        The Wedding Of
      </p>
      <h1
        class="text-right font-primary text-4xl text-light drop-shadow-2xl"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        {{ invitation.couple.groom.nickName }}
        <br />
        &
        <br />
        {{ invitation.couple.bride.nickName }}
      </h1>
      <div
        class="mt-8 text-light"
        data-aos="flip-up"
        data-aos-duration="1000"
        data-aos-delay="300"
      >
        <div class="text-right" v-if="name !== ''">
          <p class="font-primary">Dear</p>
          <h3 class="mt-2 mb-4 font-primary text-2xl capitalize">
            {{ name }}
          </h3>
        </div>
      </div>
      <button
        class="my-6 w-fit rounded-md border border-accent border-opacity-40 bg-primary bg-opacity-20 px-5 py-3 font-body text-light backdrop-blur-xl"
        @click="open"
      >
        Open Invitation
      </button>
    </div>
  </section>
</template>

<script setup>
const control = useControl();
const invitation = useInvitation();
const route = useRoute();

const name = ref(route.query.untuk);

const open = () => {
  control.value.nav.show = true;
  document.getElementById("home").scrollIntoView();
  document.getElementsByTagName("body")[0].style.overflow = "auto";
  setTimeout(() => {
    control.value.body.open = true;
  }, 1000);

  var musicPlayer = document.getElementById("music-player");
  musicPlayer.play();
};
</script>
