<template>
  <section id="wishes" class="bg-gradient-to-b from-secondary to-light">
    <div
      class="flex justify-center p-6"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <p class="-rotate-6 font-secondary text-4xl text-accent drop-shadow-lg">
        Wishes
      </p>
    </div>
    <div class="p-6">
      <div
        class="mb-3"
        data-aos="fade-up"
        data-aos-duration="1000"
        v-if="!hideFieldName"
      >
        <label for="name">
          <p class="font-body text-sm text-light">Name</p>
          <input
            v-model="name"
            type="text"
            id="name"
            autocomplete="off"
            class="w-full rounded-sm border-2 border-primary border-opacity-50 bg-light px-3 py-2 font-body outline-none focus:border-opacity-80"
          />
        </label>
      </div>
      <div class="mb-3" data-aos="fade-up" data-aos-duration="1000">
        <label for="wish">
          <p class="font-body text-sm text-light">Wish</p>
          <textarea
            v-model="wish"
            id="wish"
            cols="30"
            rows="5"
            class="w-full rounded-sm border-2 border-primary border-opacity-50 bg-light px-3 py-2 font-body outline-none focus:border-opacity-80"
          >
          </textarea>
        </label>
      </div>
      <p class="mb-3 font-body text-sm text-light" v-if="successSendWish">
        Success to sending your wish
      </p>
      <p class="mb-3 font-body text-sm text-light" v-if="failedSendWish">
        Failed to sending your wish
      </p>
      <div class="w-full" data-aos="fade-up" data-aos-duration="1000">
        <button
          class="w-full rounded-sm border-2 border-accent bg-primary px-3 py-2 font-primary text-light"
          :disabled="disableBtnSendWish"
          @click="postWish"
        >
          Send
        </button>
      </div>
    </div>
    <div class="px-3 pb-6" data-aos="fade-up" data-aos-duration="1000">
      <div
        class="mx-3 mb-3 flex-none rounded-md border border-primary border-opacity-20 bg-[url('public/misc/wishes.png')] bg-cover bg-center shadow-md shadow-light/40"
        v-for="wish in wishes"
        :key="wish.id"
      >
        <div
          class="flex h-full w-full flex-col bg-light bg-opacity-10 px-6 py-5 backdrop-blur-[2px]"
        >
          <p class="mb-2 font-primary text-primary">{{ wish.pengirim }}</p>
          <p class="font-body text-sm text-primary">{{ wish.komentar }}</p>
        </div>
      </div>
      <!-- <div class="flex flex-none items-center" v-if="loadMore"> -->
      <div class="flex flex-none items-center" v-if="false">
        <button
          class="flex flex-none items-center rounded-full border-2 border-primary border-opacity-20 bg-light px-5 py-2 font-primary text-sm"
          @click="getWishes"
        >
          <p class="mt-1 text-primary">Load more</p>
          <ArrowRightCircleIcon class="ml-2 h-6 w-6 text-primary" />
        </button>
      </div>
    </div>
  </section>
</template>

<script setup>
import { ArrowRightCircleIcon } from "@heroicons/vue/24/outline";
import { useReCaptcha } from "vue-recaptcha-v3";

const invitation = useInvitation();
const { executeRecaptcha, recaptchaLoaded } = useReCaptcha();

const hideFieldName = ref(false);
const name = ref("");
const wish = ref("");

if (invitation.value.rsvp.name !== "") {
  name.value = invitation.value.rsvp.name;
}

const wishes = ref({});
const loadMore = ref(true);
let wishesFilter = {
  limit: 10,
  offset: 0,
};
const getWishes = async () => {
  const res = await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.getWishes}?id_undangan=${invitation.value.api.invitationID}&limit=${wishesFilter.limit}&offset=${wishesFilter.offset}`
  );
  const newData = JSON.parse(res.data.value);

  if (newData.data.length === 0) {
    loadMore.value = false;
    return;
  }

  if (Object.keys(wishes.value).length === 0) {
    wishes.value = newData.data;
  } else {
    wishes.value = wishes.value.concat(newData.data);
  }
  wishesFilter.offset = wishesFilter.offset + wishesFilter.limit;
};

const disableBtnSendWish = ref(false);
const successSendWish = ref(false);
const failedSendWish = ref(false);
const recaptchaToken = async () => {
  await recaptchaLoaded();
  const token = await executeRecaptcha("komentar");
  return token;
};
const postWish = async () => {
  disableBtnSendWish.value = true;

  await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.csrf}`
  );

  const body = {
    id_undangan: invitation.value.api.invitationID,
    pengirim: name.value,
    komentar: wish.value,
    "g-recaptcha-response": await recaptchaToken(),
  };
  const res = await useFetch(
    `${invitation.value.api.baseUrl}${invitation.value.api.path.wishes}`,
    {
      method: "POST",
      body: body,
    }
  );
  disableBtnSendWish.value = false;

  if (res.error.value) {
    failedSendWish.value = true;
    setTimeout(() => {
      failedSendWish.value = false;
    }, 3000);
    return;
  }

  wish.value = "";
  wishes.value = {};
  wishesFilter.offset = 0;

  successSendWish.value = true;
  setTimeout(() => {
    successSendWish.value = false;
  }, 3000);

  await getWishes();
};

getWishes();

watch(
  () => invitation.value.rsvp.name,
  (curr, prev) => {
    if (curr !== "") {
      hideFieldName.value = true;
      name.value = curr;
    }
  }
);
</script>
