/* google fonts */

/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fonts */
@font-face {
  font-family: Astheresia;
  src: url("~/assets/fonts/Astheresia.ttf") format("truetype");
}

@font-face {
  font-family: Avida La Bila;
  src: url("~/assets/fonts/AvidaLaBila.ttf") format("truetype");
}

@font-face {
  font-family: Ignacio Maverick;
  src: url("~/assets/fonts/IgnacioMaverick.ttf") format("truetype");
}

/* custom css */
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.text-vertical-2 {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.grecaptcha-badge {
  display: none !important;
}
