<template>
  <div class="flex w-screen">
    <div
      class="hidden h-screen md:fixed md:block md:w-3/5 lg:w-4/6"
      v-if="!isMobile"
    >
      <SectionsCarrousel />
    </div>
    <div
      class="w-screen scroll-smooth md:absolute md:right-0 md:w-2/5 lg:w-2/6"
    >
      <slot />
    </div>
    <SectionsNavbar />
  </div>
</template>

<script setup>
const toTop = () => {
  setTimeout(() => {
    window.scrollTo(0, 0);
  }, 1000);
};
const isMobile = ref(false);
if (
  /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
    navigator.userAgent
  )
) {
  isMobile.value = true;
}

toTop();
</script>
