<template>
  <div>
    <SectionsWelcome />
    <SectionsHome />
    <LazySectionsCouple />
    <SectionsVerse />
    <SectionsEvents />
    <!-- <SectionsStory /> -->
    <SectionsGallery />
    <!-- <SectionsGift /> -->
    <!-- <SectionsRsvp /> -->
    <SectionsWishes />
    <SectionsThanks />
  </div>
</template>

<script setup>
// import "aos/dist/aos.css";
// import AOS from "aos";

// AOS.init();
</script>
